<h1>Welcome to Comic Vine DB</h1>
<p>Browse a collection of comic book data pulled from the Comic Vine API.</p>

<ul>
  <li><%= link_to "Publishers", publishers_path %></li>
  <li><%= link_to "Volumes", volumes_path %></li>
  <li><%= link_to "Issues", issues_path %></li>
  <li><%= link_to "Characters", characters_path %></li>
</ul>